{% extends 'zinnia/skel.html' %}
{% load staticfiles %}
{% block title %}About CSM{% endblock %}
{% block navtitle %}CSM{% endblock %}
{% block jsext %}

<link rel="stylesheet" href="{% static "css/grid.css" %}" type="text/css" />
<script src="/static/js/WVR.js"></script>
<script type="text/javascript">
</script>

<style type="text/css">
</style>

{% endblock %}
{% block content %}

<div class="span pull-right" style="text-align:right">
   <img src="{% static "img/brain-net.png" %}" width="200" height="180">
</div>


<h2>Introduction</h2>

The effectiveness of many complex systems involves common aspects such
as energy utilization, information processing, memory, perception,
learning, environmental interaction, coordinated organization of
subsystems, efficient use of scarce resources, etc. As these systems
evolve, typically in rich ecosystems of other complex systems, their
structure grows to reflect the structure and patterns of their
environment, either through learned modes of behavior, or even though
explicit representation and models of the environment.  The evolution
of these systems proceeds at many time scales and levels of
organization, and ranging from slow continuous adaptation, to
qualitative change of structure (e.g emergence of new species) to even
new levels of organizations (e.g. development of increasingly
synergistic communities which effectively become new levels of
organism.)  Collectively the process taking place in these systems,
and in the overall evolving ecosystem could be thought of as
intelligence in a general sense.

<p>
The above description presents the general area of interest of CSM,
but leaves out one fundamental concept - namely mind.  Indeed as a
result of the European Enlightenment and rise of Cartesian duality, a
tendency of modern science has been to deny mind altogether
(particularly for systems other than human beings) or to deny it as a
legitimate domain for scientific understanding.  When it has been
studied, it is often reduced to the study of objective descriptions
that fail to capture the very starting point of human understanding -
which is our subjective experience.  We learn to believe in and treat
an ‘objective world’ as primary, and consider our subjective
experience as derived, or as some emergent phenomenon, or deny it as
worthy of study.  In truth, however, each of us knows only one thing -
that we ourselves have some kind of sense of experience.
<p>
The Center for Study of Mind seeks to bridge between the objective
description of general intelligent systems - the modality of science,
and the understanding of mind through our subjective experience and
consciousness. Our goal is not only to further the scientific
understanding of those systems, but to integrate that understanding
with our subjective experience, and so enrich our experience and
better understand our place in the evolution of the cosmos.

<h2>Mission</h2>

To help connect people by making it easier to provide, find, organize and share views of the world.

&nbsp;<p>
&nbsp;<p>
This involves providing access to technologies that allow us to see other parts of the world,
and to share our own, in many exciting ways, such as live or recorded images, video, and virtual
models.   More importantly, it involves using those technologies to help us connect, and to share
our stories, concerns and dreams and aspirations.


{% endblock %}
